name: CI silverstripe-simple-pdf-preview

on:
  pull_request: ~
  push:
    branches:
      - master

jobs:
  tests:
    name: PHP ${{ matrix.php }} - SS ${{ matrix.silverstripe }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.1', '8.2', '8.3', '8.4']
        silverstripe: ['5', '6']
        include:
          - php: '8.1'
            mysql: '8.0'
          - php: '8.2'
            mysql: '8.0'
          - php: '8.3'
            mysql: '8.0'
          - php: '8.4'
            mysql: '8.0'
        exclude:
          - php: '8.1'
            silverstripe: '6'
          - php: '8.2'
            silverstripe: '6'

    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: SS_mysite
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    steps:
      - name: imagick-preparations
        run: |
          sudo apt-get install -y ghostscript
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: imagick, mysql
          coverage: none
      - name: Allow imagick pdf
        run: |
          sudo sed -i 's/<policy domain="coder" rights="none" pattern="PDF" \/>/<policy domain="coder" rights="read|write" pattern="PDF" \/>/g' /etc/ImageMagick-6/policy.xml || sudo sed -i 's/<policy domain="coder" rights="none" pattern="PDF" \/>/<policy domain="coder" rights="read|write" pattern="PDF" \/>/g' /etc/ImageMagick-7/policy.xml
      - name: Install SilverStripe ${{ matrix.silverstripe }}
        run: |
          if [ "${{ matrix.silverstripe }}" == "5" ]; then
            composer require "silverstripe/framework:^5" "silverstripe/asset-admin:^2" --no-update --prefer-dist
          elif [ "${{ matrix.silverstripe }}" == "6" ]; then
            composer require "silverstripe/framework:^6" "silverstripe/asset-admin:^3" --no-update --prefer-dist
          fi
      - name: composer install
        run: |
          composer install --prefer-dist --no-interaction --no-ansi --no-progress
      - name: env file
        run: |
          cat << EOF > .env
          SS_DATABASE_CLASS="MySQLDatabase"
          SS_DATABASE_SERVER="127.0.0.1"
          SS_DATABASE_PORT="3306"
          SS_DATABASE_USERNAME="root"
          SS_DATABASE_PASSWORD="root"
          SS_DATABASE_NAME="SS_mysite"
          EOF
      - name: PHPUnit
        run: |
          vendor/bin/phpunit
